@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, header, div, p, nav, h1, h2, h3, ul, li, a, i {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: inherit;
}

h1 {
 	font-family: 'Roboto', arial;
 	font-size: 54px;
 	line-height: 68px;
 	font-weight: 300;
}

h2 {
 	font-family: 'Roboto', arial;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0px;
	font-weight: 300;
    color: #676767;
}
h3 {
	font-family: 'Roboto', arial;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 0.5;
    text-align: center;
	font-weight: 300;
	color: #676767;
}
h4 {
	font-family: 'Roboto', arial;
	font-size: 18px;
	font-weight: 500;
}
h5 {
 	font-family: 'Roboto', arial;
	font-weight: 500;
	font-size: 20px;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 40px;
    letter-spacing: 0.3;
    color: #676767;
}
.line {
    width: 120px;
    height: 3px;
    margin: 40px auto;
    background: linear-gradient(to right, #01faff, #12a4f7);
}
.dispal-none {
	display: none;
}

header {
	background: #fff;
    height: 95px;
	position: fixed;
	top: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background-color: #fff;
 	-webkit-transition: top 0.4s 0.7s, height 0.4s 0.7s, background-color 0.4s 0.7s;
    -moz-transition: top 0.4s 0.7s, height 0.4s 0.7s, background-color 0.4s 0.7s;
    -o-transition: top 0.4s 0.7s, height 0.4s 0.7s, background-color 0.4s 0.7s;
	transition: top 0.4s 0.7s, height 0.4s 0.7s, background-color 0.4s 0.7s;
    z-index: 99999999999;
}
header.active {
	top: 0;
	left: 0;
	background-color: #fff;
	height: 95px;
	width: 100%;
 	-webkit-transition: top 0.5s, height 0.5s, background-color 0.5s;
    -moz-transition: top 0.5s, height 0.5s, background-color 0.5s;
    -o-transition: top 0.5s, height 0.5s, background-color 0.5s;
	transition: top 0.5s, height 0.5s, background-color 0.5s;
}
header .box {
	width: 97%;
	height: 95px;
	margin: 0 auto;
}
header .grey-line {
	border-bottom: 1px solid #eaeaea;
	position: fixed;
	top: 95px;
	width: 100%;
}
header .box .logo-img {
	padding-left: 20px;
	padding-top: 34px;
	width: 13%;
    float: left;
    position: relative;
    z-index: 999;
} 
header .box nav {
	width: 83%;
    float: left;
}
header.active .box nav ul,
header .box nav ul {
    text-align: right;
    float: left;
}
header .box nav ul li {
    display: inline;
    padding: 25px;
    height: 100%;
	list-style-type: none;	
	opacity: 0;
	position: relative;
	top: -20px;
 	-webkit-transition: top 0.5s, opacity 0.5s;
    -moz-transition: top 0.5s, opacity 0.5s;
    -o-transition: top 0.5s, opacity 0.5s;
	transition: top 0.5s, opacity 0.5s;

}
header.active .box nav ul li {
	opacity: 1;
	top: 38px;
	-webkit-transition: top 0.5s 0.5s, opacity 0.5s 0.5s;
    -moz-transition: top 0.5s 0.5s, opacity 0.5s 0.5s;
    -o-transition: top 0.5s 0.5s, opacity 0.5s 0.5s;
	transition: top 0.5s 0.5s, opacity 0.5s 0.5s;
}
header.active .box nav ul li.active-link a {
    color: #1fbdf2;
}
header .box nav ul li a {
	color: #9e9e9e;	
	text-decoration: none;
	font-size: 14px;	
}
header.active .box nav ul li a {
	color: #9e9e9e;
	text-decoration: none;
	font-size: 14px;	
}
header .box nav ul li:last-child,
header.active .box nav ul li:first-child {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
header .box nav ul li:nth-child(5),
header.active .box nav ul li:nth-child(2) {
 	-webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
header .box nav ul li:nth-child(4),
header.active .box nav ul li:nth-child(3) {
	-webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
header .box nav ul li:nth-child(3),
header.active .box nav ul li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
header .box nav ul li:nth-child(2),
header.active .box nav ul li:nth-child(5) {
	-webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
header .box nav ul li:first-child,
header.active .box nav ul li:last-child {
	-webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
header .box .header-button span {	
    position: relative;    
    display: block;
    width: 100%;
    height: 100%;
	cursor: pointer;
}
header .box .header-button span i {
	background-color: #b0b0b0;
    height: 3px;
    width: 33px;
    display: block;
    position: absolute;
    /*top: 42px;    */
    left: 32%;
    border-radius: 10px; 
	-webkit-transition: top 0.3s 1s, transform 0.2s, opacity 0.2s 1s;
    -moz-transition: top 0.3s 1s, transform 0.2s, opacity 0.2s 1s;
    -o-transition:top 0.3s 1s, transform 0.2s, opacity 0.2s 1s;
    transition: top 0.3s 1s, transform 0.2s, opacity 0.2s 1s;
}
header.active .box .header-button span i { 
	background-color: #b0b0b0;
}
header.active .box .header-button span i.bar {
	-webkit-transition: top 0.3s, transform 0.2s 0.3s;
    -moz-transition: top 0.3s, transform 0.2s 0.3s;
    -o-transition: top 0.3s, transform 0.2s 0.3s;
 	transition: top 0.3s, transform 0.2s 0.3s;
}
header .box .header-button span i {
    height: 4px;
}
header .box .header-button span i.bar:nth-child(1) {
    top: 35px;
}
header .box .header-button span i.bar:nth-child(2) {
	top: 46.5px;	
}
header .box .header-button span i.bar:last-child {
	top: 58px;	
}
header .box .header-button {
	width: 4%;
    height: 100%;
    float: right;
}
header.active .box .header-button span i.bar:last-child,
header.active .box .header-button span i.bar:first-child {
    top: 46.5px;
}
header.active .box .header-button span i.bar:first-child {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);  
    -o-transform: rotate(45deg);  
    transform: rotate(45deg);        
}
header.active .box .header-button span i.bar:last-child {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);  
    -o-transform: rotate(-45deg); 
   	transform: rotate(-45deg);
}
header.active .box .header-button span i.bar:nth-child(2) {
	opacity: 0;
}

@media  screen and (max-width: 1140px) {
	header .box {
		width: 100%;
		padding-left: 10px;
	}
	header .box .logo-img {
		width: 17%;
		padding-left: 0;
		float: none;
	}
	header {
		height: 100%;
	    width: 0;
	    -webkit-transition: width 0.5s 0.7s ease-in-out, background-color 0.4s 0.7s;
	    -moz-transition: width 0.5s 0.7s ease-in-out, background-color 0.4s 0.7s;
	    -o-transition: width 0.5s 0.7s ease-in-out, background-color 0.4s 0.7s;
	    transition: width 0.5s 0.7s ease-in-out, background-color 0.4s 0.7s;
	}
	header.active {
		height: 100%;
	    width: 205px;
      	-webkit-transition: width 0.5s ease-in-out, background-color 0.4s;
	    -moz-transition: width 0.5s ease-in-out, background-color 0.4s;
	    -o-transition: width 0.5s ease-in-out, background-color 0.4s;
	    transition: width 0.5s ease-in-out, background-color 0.4s;
	}
	header .box nav ul li {
		top: 35px;
		float: none;
		left: 0px;
	    padding-left: 0;
	    display: block;
	    padding-top: 0px;
	    height: 56px;
		-webkit-transition: left 0.5s, opacity 0.5s;
	    -moz-transition: left 0.5s, opacity 0.5s;
	    -o-transition: left 0.5s, opacity 0.5s;
	    transition: left 0.5s, opacity 0.5s; 
	}
	header .grey-line {
		display: none;
	}
	header .box .header-button {
		position: fixed;
	    top: 0;
	    right: 0;
	    height: 72px;
    	width: 59px;
	}
	header.active .box nav ul li {	
		top: 35px;
		left: 25px;
		-webkit-transition: left 0.5s, opacity 0.5s;
	    -moz-transition: left 0.5s, opacity 0.5s;
	    -o-transition: left 0.5s, opacity 0.5s;
	    transition: left 0.5s, opacity 0.5s;   	
	}
	header .box .header-button span i {
		width: 30px;
	}
	header.active .box nav ul, header .box nav ul {
	    text-align: left;
	}
}
@media  screen and (max-width: 620px) {
	header .box .logo-img img {
		width: 56px;
	}
	header .box .logo-img {
		padding-top: 15px;
		padding-left: 0;
		transition: padding-left 0.5s ease-in-out 0.8s;
	}
	header.active .box .logo-img {
		padding-left: 24px;
		transition: padding-left 0.5s ease-in-out;

	}
	header .box .header-button span i {
		width: 25px;
		height: 3px;
	}
	header .box .header-button span i.bar:nth-child(1) {
		top: 15px;
	}
	header .box .header-button span i.bar:nth-child(2) {
    	top: 23px;
    }
    header .box .header-button span i.bar:last-child {
    	top: 31px 
    }	
    header .box .header-button {
    	height: 38px;
        width: 53px;
    }
    header.active .box .header-button span i.bar:last-child,
    header.active .box .header-button span i.bar:first-child {
    	top: 23px;
    }
}