/*.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url('../img/slider/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div {
    background-position: -7px -7px;
}
.jssorb05 div:hover, .jssorb05 .av:hover {
    background-position: -37px -7px;
}
.jssorb05 .av {
    background-position: -67px -7px;
}
.jssorb05 .dn, .jssorb05 .dn:hover {
    background-position: -97px -7px;
}
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../img/slider/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l {
    background-position: -10px -31px;
}
.jssora22r {
    background-position: -70px -31px;
}
.jssora22l:hover {
    background-position: -130px -31px;
}
.jssora22r:hover {
    background-position: -190px -31px;
}
.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}
.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}*/
.cover {
    width: 100%;
}
.cover .cover-img {
    top: 0px;
    left: 0px;
    width: 100%;
    perspective: 225px;
    position: relative;

}
.cover .cover-img img {
    width: 100%;
    height: auto;
    display: block;
}
.cover .cover-img .button {
    left: 50%;
    top: 53%;
    margin-left: -84.5px;
    position: absolute;
    width: 169px;
    height: 57px;
    border-left: 3px solid #01f9ff;
    border-right: 3px solid #13a0f6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 3px;
    -moz-background-size: 100% 3px;
    -o-background-size: 100% 3px;
    -ms-background-size: 100% 3px;
    background-size: 100% 3px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: linear-gradient(to right, #01f9ff 0%, #13a0f6 100%), linear-gradient(to right, #01f9ff 0%, #13a0f6 100%);
}


.cover .cover-img .button:hover {
    background: linear-gradient(to right, #01faff, #12a4f7);
    border: none;
    padding-left: 2.4px;
}
.cover .cover-img .button:active {
    background: #000;
}
.cover .cover-img .button span {
    text-decoration: none !important;
    color: #fff !important;
    font-size: 21px;
    line-height: 2.7;
    margin-left: 29px;
    overflow: hidden;
    font-weight: 500;
}
.cover .cover-img .button:active {
    background: #000;
    border: none;
    padding-left: 2.4px;
}
.blog-box {
    width: 100%;
    background: #f5f6f8;
    float: left;
}
.blog-box .box {
    width: 1140px;
    margin: 0 auto;
    padding: 70px 0;
} 
.blog-box h2 {
    padding-bottom: 17px;
}
.blog-box h5 {
    text-align: center;
    width: 520px;
    margin: 23px auto 68px;
    color: #aeaeae;
}
.owl-carousel .item {
    height: 600px;
    background: #fff;
    background: #fff;
    box-shadow: 0px 0px 1px #888888;
    border-bottom: 1px sloid #000;
    border-radius: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}
.owl-carousel .item div p:nth-child(1) {
    text-align: left;
    font-size: 13;
    width: 83%;
    margin: 0 auto;
    margin-top: 62px
}
.owl-carousel .item div p:nth-child(2) {
    width: 85%;
    margin: 9px auto;
    text-align: left;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    height: 80px;
}
.owl-carousel .item div p:nth-child(3) {
    width: 83%;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    padding-top: 5px;
}
.owl-carousel .item div p a {
    color: #333;
}
/*.owl-carousel .item div a {
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #333;
}*/

.clients {
    float: left;
    width: 100%;
}
.clients .clients-box {
    width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
}
.clients .clients-box h2 {
    font-size: 40px;
    line-height: 1;
    margin-bottom: 30px;
}
.clients .clients-box .desc h5 {
    width: 800px;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
}
.clients .clients-box .logos {
    margin: 0 auto;
    width: 100%;
    padding-top: 86px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.clients .clients-box .logos img {
    float: left;
    padding-bottom: 90px;
}
/*.clients .clients-box .logos img:nth-child(2) {
    margin: 0 136px;
}*/
/*.clients .clients-box .logos img:nth-child(5) {
    margin: 0 214px;
}*/
.who-we-are {
    width: 100%;
    float: left;
}
.who-we-are .box {
    width: 1140px;
    margin: 0 auto;
    padding-top: 90px;
} 
.who-we-are .box .text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.who-we-are .box h2 {
    padding-bottom: 24px;
}
.who-we-are .box .line {
    width: 120px;
    height: 3px;
    margin: 0 auto;
    background: linear-gradient(to right, #01faff, #12a4f7);
}

.who-we-are .box .text {
    width: 33.3%;
    float: left;
    padding: 70px 0;
}
.who-we-are .box .text:last-child {
    padding-bottom: 140px;
}
.who-we-are .box .text h3 {
    padding-bottom: 34px;
}
.who-we-are .box .text h5 {
    color: #676767;
    text-align: left;
    padding-left: 11px;
    width: 96%;
}
/*#jssor_1 .button {
    left: 50%;
    top: 53%;
    margin-left: -80px;
    position: absolute;
    width: 144px;
    height: 49px;
    border-left: 3px solid #01f9ff;
    border-right: 3px solid #13a0f6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 3px;
    -moz-background-size: 100% 3px;
    background-size: 100% 3px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: linear-gradient(to right, #01f9ff 0%, #13a0f6 100%), linear-gradient(to right, #01f9ff 0%, #13a0f6 100%);
}

#jssor_1 .button:hover {
    background: linear-gradient(to right, #01faff, #12a4f7);
    border: none;
    padding-left: 2.4px;
}
#jssor_1 .button:active {
    background: #000;
}
#jssor_1 .button span {
    text-decoration: none !important;
    color: #fff !important;
    font-size: 18px;
    text-align: center;
    line-height: 2.7;
    margin-left: 24px;
    overflow: hidden;
    font-weight: 500;
}
#jssor_1 .button:active {
    background: #000;
    border: none;
    padding-left: 2.4px;
}*/
.projects {
    float: left;
    width: 100%;  
    background: gray;
}
.projects .row-first .rectangle {
    width: 66.6%;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
}
.projects .row-first .rectangle .mobile {
   display: none;
}
.projects .row-first .rectangle img {
    height: auto;
    width: 100%;
    display: block;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
}
.projects .square {
    width: 33.3%;     
    float: left;  
    position: relative;
    overflow: hidden;
    background: rgba(128, 128, 128, 0.91);
 }
 .row-first .square,
 .projects .square.view-all {
    width: 33.4%;
}
 .projects [class^="row"] {
    overflow: hidden;
 }
 .projects .square img {
    width: 100%;
    height: auto; 
    display: block;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
 } 
 .projects .row-first .square .mobile{
    display: none;
 } 

.projects .imag-opacity {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.projects .row-first .rectangle .project-description,
.projects .square .project-description {
    position: absolute;
    z-index: 1000;
    width: 100%;
    color: #ffffff; 
}
.projects .row-first .rectangle .project-description,
.projects .square .project-description {
    top: 39px; 
    z-index: 999999999;
}
/*.projects .square .project-description {
    bottom: 36px;
    z-index: 9999999;
}*/
.projects .row-first .rectangle .project-description p,
.projects .square .project-description p {
    padding-left: 31px;
}
/*.projects .square .project-description p {
    padding-left: 41px;
}*/
.projects .row-first .rectangle .project-description p:first-child,
.projects .square .project-description p:first-child {
    font-size: 16px;
}
.projects .row-first .rectangle .project-description p:last-child,
.projects .square .project-description p:last-child {
    font-size: 24px;  
    font-weight: bold;    
}
.projects .row-first .rectangle .project-description p:last-child,
.projects .square .project-description p:last-child {
    padding-top: 33px;
}
/*.projects .square .project-description p:last-child {
    padding-top: 9px;
    width: 340px;
}*/
.projects .square .last {
    top: 99px;
    padding-top: 0;
}
.projects .row-first .rectangle:hover img,
.projects .square:hover img {
    transform: scale(1.15);
}
.projects .row-first .rectangle .button,
.projects .square .button {
    z-index: 99999999;
    top: 225px;
    left: 31px;
    position: absolute;
    width: 155px;
    height: 70px;
    border-left: 4px solid #01f9ff;
    border-right: 4px solid #13a0f6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 4px;
    -moz-background-size: 100% 4px;
    background-size: 100% 4px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -webkit-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -moz-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%), -o-linear-gradient(left, #01f9ff 0%, #13a0f6 100%);
    background-image: linear-gradient(to right, #01f9ff 0%, #13a0f6 100%), linear-gradient(to right, #01f9ff 0%, #13a0f6 100%);
}
.projects .view-all .button {
    width: 178;
    height: 70px;
    margin-left: 10px;
}
.projects .row-first .rectangle .button span,
.projects .square .button span {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 4.5;
    margin-left: 24px;
    overflow: hidden;
}
.projects .row-first .rectangle .button:hover,
.projects .square .button:hover {
    background: linear-gradient(to right, #01faff, #12a4f7);
}
.projects .row-first .rectangle .button:active,
.projects .square .button:active {
    background: #000;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
} 
.projects .row-second .view-all:hover .imag-opacity {
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
@media (max-width: 1500px){
    .cover .cover-img .title {
        font-size: 40px!important;
        line-height: 50px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 18px!important;
    }
}

@media(max-width: 1300px) { 
    .projects .square .project-description.last {
      top: 40px;
    }
   .projects .row-first .rectangle .button,
   .projects .square .button {
      top: 176px;
    }
}
@media (max-width: 1250px){
    .cover .cover-img .title {
        font-size: 32px!important;
        line-height: 40px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 17px!important;
    }
    .cover .cover-img .button {
        margin-left: -60px;
        width: 120px;
        height: 41px;
    }
    .cover .cover-img .button span {
        font-size: 15px;
        margin-left: 20px;
    }
    .clients .clients-box {
        width: 90%;
    }

}
@media(max-width: 1180px) {
    .blog-box .box {
      width: 730px;
    }    
    .who-we-are .box {
      width: 90%;
    }
}
@media (max-width: 1130px){
    .who-we-are .box .text h3 {
        height: 150px;
    }

}

@media  screen and (max-width: 1100px) {
    .projects [class^="row"] {
      overflow: inherit;
    }
    .projects .row-first .rectangle {
      width: 100%;
    }
    .projects .square {
      width: 50%;
    }
    .row-first .square, .projects .square.view-all {
        width: 50%;
    }
    .projects .row-first .rectangle img,
    .projects .square img {  
      transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
    }
    .projects .row-first .rectangle:hover img,
    .projects .square:hover img {
      transform: scale(1.1);
    }
    .clients .clients-box .desc h5 {
        width: 90%;
    }
   

}
@media (max-width: 1000px){
    .cover .cover-img .title {
        font-size: 28px!important;
        line-height: 30px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 15px!important;
    }   
    .who-we-are .box .text {
        width: 80%;
        padding-bottom: 0;

    }
    .who-we-are .box .text h3 {
        height: auto;
    }
    .who-we-are .box .text h5 {
        text-align: justify;
    }
  

}

@media (max-width: 800px){
    .clients .clients-box .logos img {
        width: 34%;
    }
    .cover .cover-img .title {
        font-size: 21px!important;
        line-height: 25px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 13px!important;
    }
    .cover .cover-img .button {
        margin-left: -45px;
        width: 90px;
        height: 30px;
    }
    .cover .cover-img .button span {
       font-size: 11px;
        margin-left: 16px;
    }
}
@media (max-width: 1200px){
    .clients .clients-box .logos img {
        width: 30%;
    }

}
@media  screen and (max-width: 768px) {
   
    .who-we-are .box .subtitle {
        margin-bottom: 19px;
        width: 80%;
    }
    .who-we-are .box .title {
        padding-top: 50px;
    }
    .who-we-are .box .text .content {
        margin-bottom: 14px;
    }
    .who-we-are .box .text {
        width: 90%;
        margin: 0 auto;
        float: none;
        padding-top: 70px;
    }
  
}
@media(max-width: 750px) {
    .blog-box .subtitle {
        width: 90%;
        margin: 0 auto;
    }
    .clients .clients-box .desc h5 {
        width: 95%;
    }
    .blog-box .box,
    .clients .clients-box {
        width: 90%;
        margin: 0 auto;
    }
    .owl-carousel .item div p {
        width: 90%;
    }
    .clients .clients-box .desc {
        width: 90%;
        margin: 0 auto;
    } 
}
@media (max-width: 730px){
    .clients .clients-box .logos img {
        width: 262px;
    }
}
@media  screen and (max-width: 700px) {

    .projects .row-first .rectangle {
      width: 100%;
    }
    .projects .square {
      width: 100%;
    }
    .row-first .square, .projects .square.view-all {
        width: 100%;
    }
    .projects .row-first .rectangle .mobile  {
      display: block;
    }
    .projects .row-first .rectangle .desktop {
      display: none;
    }
    .blog-box h5 {
        width: 80%;
    }
    .owl-carousel .item div p:nth-child(2) { 
        font-size: 16px;
        line-height: 24px;
    }
    .owl-carousel .item {
        height: 540px;
    }
}
@media (max-width: 670px){
    .cover .cover-img .title {
        font-size: 17px!important;
        line-height: 23px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 11px!important;
    }
    .cover .cover-img .button {
        margin-left: -35px;
        width: 70px;
        height: 20px;
    }
    .cover .cover-img .button span {
       font-size: 8px;
        margin-left: 14px;
        line-height: 2.5;
    }
    .clients .clients-box .logos img {
        padding-bottom: 50px;
    }
}

@media (max-width: 550px){
    .clients .clients-box .logos img {
            width: 262px;
    }
    .cover .cover-img .title {
        font-size: 13px!important;
        line-height: 19px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 8px!important;
    }
    .cover .cover-img .button {
        margin-left: -24px;
        width: 48px;
        height: 16px;
        border-left: 1px solid #01f9ff;
        border-right: 1px solid #13a0f6;
        background-size: 100% 1px;
    }   
    .cover .cover-img .button span {
       font-size: 6px;
        margin-left: 9px;
        line-height: 2.8;
    }
    .cover .cover-img .button:hover {
        padding-left: .5px;
    }
}
@media (max-width: 500px){
    .projects .row-first .rectangle .project-description p:last-child,
     .projects .square .project-description p:last-child {
        font-size: 20px;
     }
     .owl-carousel .item div p:nth-child(1) {
            margin-top: 20px;
     }
     
}
@media (max-width: 450px){
    .cover .cover-img .title {
        font-size: 10px!important;
        line-height: 12px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 6px!important;
    }
    .cover .cover-img .button {        
        margin-left: -17px;
        width: 35;
        height: 11px;

    }
    .cover .cover-img .button span {
        font-size: 4px;
        margin-left: 7px;
    }
    .cover .cover-img .button:hover {
        padding-left: 1px;
    }
    

}

@media  screen and (max-width: 410px) {
  
    .who-we-are .box .text .text-title {
      padding-top: 20px;
    }
    .who-we-are .box .subtitle {
      width: 95%;
      margin-bottom: 19px;
    }
    .who-we-are .box .text {
      width: 100%;
    }
    .projects .row-first .mob {
      width: 100%;
    } 
    .projects .row-first .rectangle .project-description p:last-child,
    .projects .square .project-description p:last-child {
      font-size: 20px;
      padding-top: 9px;   
    } 
    .projects .row-first .rectangle .project-description p:first-child,
    .projects .square .project-description p:first-child {
      font-size: 14px;
    }
    .projects .row-first .rectangle .button,
    .projects .square .button {
      width: 127px;
      height: 57px;
    }
    .projects .row-first .rectangle .button,
    .projects .square .button {
      top: 155px;
    }
    .projects .row-first .rectangle .button span,
    .projects .square .button span {
      margin-left: 22px;
    }
    .projects .row-first .rectangle .button span,
    .projects .square .button span {
      font-size: 13px;
    }
    .projects .view-all .button {
      width: 139px;
      height: 57px;
    }
    .projects .view-all .button span {
      margin-left: 15px;
    }
}
@media (max-width: 350px){
    .cover .cover-img .title {
        font-size: 9px!important;
        line-height: 12px!important;
    }
    .cover .cover-img .subtitle {
        font-size: 5px!important;
    }

}   