.project {
	width: 100%;
	margin-top: 95px;	
	cursor: pointer;
}
.project .square {
 	width: 33.3%; 		
 	float: left; 	
 	position: relative;
 	overflow: hidden;

 }
 .project .square img {
 	width: 100%;
 	height: auto; 
 	display: block; 	
 } 
.project span.imag-opacity {	
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    opacity: 0;  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.project .square .project-description {
	position: absolute;
	z-index: 999999;
    width: 100%;
	color: #ffffff;	
}

.project .square .project-description {
	top: 200px;
}

.project .square .project-description p {
	padding-left: 41px;
}
.project .square .project-description p:last-child {
	padding-top: 9px;
    font-size: 16px;
}
.project .square .project-description p:first-child {
	font-size: 24px;
    font-weight: bold;
}
.project .square .project-description p:last-child,
 .project .square .project-description p:first-child {    
    color: #fff;
}
.project .square a {
	text-decoration: none;
}
.project .square .project-description {
	display: none;
}
.project .square a:hover .imag-opacity {
	opacity: 1;
}
.project .square a:hover .project-description {
	display: block;
}

@media only screen and (max-width: 1000px) {
	.project .square {
		float: left;
    	width: 50%;
    }
}
@media (max-width: 1380px){
	.project .square .project-description {
	top: 140px;
	}
}


@media only screen and (max-width: 1200px) {

	.project .square .project-description p:first-child {
		font-size: 20px;
	}
	.project .square .project-description p:last-child {
		font-size: 15px;
	}
	
}
@media (max-width: 1150px){
	.project .square .project-description {
	top: 120px;
	}
}
@media only screen and (max-width: 992px) {
	.project .square .project-description p:first-child {
		font-size: 24px;
	}
	.project .square .project-description p:last-child {
		font-size: 16px;
	}
	.project .square .project-description {
	top: 75px;
}
}
@media only screen and (max-width: 768px) {
	.project .square .project-description p:first-child {
		font-size: 20px;
	}
	.project .square .project-description p:last-child {
		font-size: 13px;
	}
	.project .square .project-description {
		top: 115px;
	}
}
@media only screen and (max-width: 670px) {
	.project .square .project-description p:first-child {
		font-size: 19px;
	}
	.project .square .project-description p:last-child {
		font-size: 14px;
	}
	.project .square .project-description {
	top: 80px;
}
}
@media only screen and (max-width: 600px) {
	.project .square {
		float: left;
    	width: 100%;
	}
	.project .square .project-description p:first-child {
		font-size:24px;
	}
	.project .square .project-description p:last-child {
		font-size: 17px;
	}
	.project .square .project-description {
		top: 132px;
	}
}
@media only screen and (max-width: 420px) {
	.project .square .project-description p:first-child {
		font-size: 20px;
	}
	.project .square .project-description p:last-child {
		font-size: 14px;
	}
	.project .square .project-description {
		top: 130px;
	}
}
@media only screen and (max-width: 340px) {
	.project .square .project-description p:first-child {
		font-size: 19px;
	}
	/*.project .square .project-description p:last-child {
		font-size: 12px;
	}*/
	.project .square .project-description {
		top: 74px;
	}
}