.project {
	width: 100%;
	margin-top: 95px;	
	cursor: pointer;
}
.project .square {
 	width: 33.3%; 		
 	float: left; 	
 	position: relative;
 	overflow: hidden;

 }
 .project .square img {
 	width: 100%;
 	height: auto; 
 	display: block;
    -webkit-transition: transform 0.6s;	
    -moz-transition: transform 0.6s;	
	-ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;	
 	transition: transform 0.6s;	
 } 
.project .imag-opacity {
	position: absolute;		
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
 	-ms-transition: opacity 1s;
    transition: opacity 1s; 
}
.project .square .project-description {
	position: absolute;
	z-index: 999999;
    width: 100%;
	color: #ffffff;	
}

.project .square .project-description {
	top: 200px;
}

.project .square .project-description p {
	padding-left: 41px;
}
.project .square .project-description p:last-child {
	padding-top: 9px;
    font-size: 16px;
}
.project .square .project-description p:first-child {
	font-size: 23px;
    font-weight: bold;
}
.project .square .project-description p:last-child,
 .project .square .project-description p:first-child {
    width: 90%;
    margin: auto;
    color: #fff;
}
.project .square a {
	text-decoration: none;
}
.project .square .project-description {
	display: none;
}
.project .square:hover .imag-opacity {
	opacity: 0.7;
}
.project .square:hover .project-description {
	display: block;
}

@media only screen and (max-width: 1000px) {
	.project .square {
		float: left;
    	width: 50%;
    }
}
@media (max-width: 1300px){
	.project .square .project-description {
	top: 150px;
	}
}


@media only screen and (max-width: 1200px) {

	.project .square .project-description p:first-child {
		font-size: 38px;
	}
	.project .square .project-description p:last-child {
		font-size: 15px;
	}
	
}
@media (max-width: 1150px){
	.project .square .project-description {
	top: 120px;
	}
}
@media only screen and (max-width: 992px) {
	.project .square .project-description p:first-child {
		font-size: 30px;
	}
	.project .square .project-description p:last-child {
		font-size: 16px;
	}
	.project .square .project-description {
	top: 75px;
}
}
@media only screen and (max-width: 768px) {
	.project .square .project-description p:first-child {
		font-size: 30px;
	}
	.project .square .project-description p:last-child {
		font-size: 13px;
	}
	.project .square .project-description {
		top: 115px;
	}
}
@media only screen and (max-width: 670px) {
	.project .square .project-description p:first-child {
		font-size: 24px;
	}
	.project .square .project-description p:last-child {
		font-size: 14px;
	}
	.project .square .project-description {
	top: 80px;
}
}
@media only screen and (max-width: 543px) {
	.project .square {
		float: left;
    	width: 100%;
	}
	.project .square .project-description p:first-child {
		font-size:24px;
	}
	.project .square .project-description p:last-child {
		font-size: 17px;
	}
	.project .square .project-description {
		top: 132px;
	}
}
@media only screen and (max-width: 420px) {
	.project .square .project-description p:first-child {
		font-size: 30px;
	}
	.project .square .project-description p:last-child {
		font-size: 14px;
	}
	.project .square .project-description {
		top: 150px;
	}
}
@media only screen and (max-width: 340px) {
	.project .square .project-description p:first-child {
		font-size: 25px;
	}
	/*.project .square .project-description p:last-child {
		font-size: 12px;
	}*/
	.project .square .project-description {
		top: 74px;
	}
}